<div class="section light_bluebg" style="padding-top:0; padding-bottom:0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title_text">Nosotros <br><small>Quiénes Somos</small> </h1>
      </div>
    </div>
  </div>
  <!-- /.container --> 
</div>
<!-- /.section -->
<div class="section light_bg" style="padding-top:0; padding-bottom:0;">
    <div class="clear" style="text-align:center;"><img src="images/blue_arrow.png"></div>
    <div class="container">
        <div class="row">
        <div class="clear" style="height:40px"></div>
            <article class="col-lg-4 col-md-4 col-sm-6 who-box">
                <h2 class="about_title">Nosotros</h2>
                <div class="thumb-pad4">
                    <div class="thumbnail">
                        <figure><img src="images/page2_pic1.jpg" alt=""></figure>
                        <div class="caption">
                            <h3 class="indent">Experiencia y Dedicación</h3>
                            <p>Somos una empresa dedicada y apasionada con nuestros socios comerciales.</p>
                            <p>Creemos que la mejor forma de crecer es tratando a nuestros clientes como socios en los negocios, brindandoles las herramientas necesarias para hacer crecer su negocio, lo cual se retribuye en crecimiento conjunto. </p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-lg-4 col-md-4 col-sm-6 history-box">
                <h2 class="about_title">Misión &amp; visión</h2>
                <ul class="list2">
                    <li>
                        <h3 class="indent">Vestibulum iaculis lacinia estProin dictum elementum velit ec euismod</h3>
                        <p>Sed sit amet lacus et purus commodo ullamcorper. Nulla aliqu am dictum rutrum. Ut convallis nisi sed ligula blandit, eget ultric ies sem dignissim. Praesent a accumsan ligul a, nec suscipit est. Ut hendrerit fermentum ultrices. Maecenas orci felis convallis id massa nec, elementum malesuada dolor. Integer </p>
                    </li>
                    <li>
                        <h3 class="indent">Vestibulum iaculis lacinia estProin dictum elementum velit ec euismod</h3>
                        <p>Sed sit amet lacus et purus commodo ullamcorper. Nulla aliqu am dictum rutrum. Ut convallis nisi sed ligula blandit, eget ultric ies sem dignissim. Praesent a accumsan ligul a, nec suscipit est. Ut hendrerit fermentum ultrices. Maecenas orci felis convallis id massa nec, elementum malesuada dolor. Integer </p>
                    </li>
                    <li>
                        <h3 class="indent">Vestibulum iaculis lacinia estProin dictum elementum velit ec euismod</h3>
                        <p>Sed sit amet lacus et purus commodo ullamcorper. Nulla aliqu am dictum rutrum. Ut convallis nisi sed ligula blandit, eget ultric ies sem dignissim. Praesent a accumsan ligul a, nec suscipit est. Ut hendrerit fermentum ultrices. Maecenas orci felis convallis id massa nec, elementum malesuada dolor. Integer </p>
                    </li>
                </ul>
                
            </article>
            <article class="col-lg-4 col-md-4 col-sm-12">
                <h2 class="about_title">nuestro equipo</h2>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 trainerBox">
                       <img class="img-responsive_new" src="images/page2_pic2.jpg" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 trainerBox">
                        <img class="img-responsive_new" src="images/page2_pic3.jpg" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 trainerBox">
                      <img class="img-responsive_new" src="images/page2_pic4.jpg" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 trainerBox">
                        <img class="img-responsive_new" src="images/page2_pic5.jpg" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 trainerBox">
                        <img class="img-responsive_new" src="images/page2_pic6.jpg" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 trainerBox">
                    <img class="img-responsive_new" src="images/page2_pic7.jpg" alt="">
                    </div>
                </div>
            </article>
        </div>
    </div>
    <!-- /.container -->
</div>
