
<div class="section light_bluebg" style="padding-top:0; padding-bottom:0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <h1 class="title_text">Contáctenos<br>
                    <small>Queremos saber de Usted!</small>
                </h1>
        
      </div>
    </div>
  </div>
  <!-- /.container --> 
</div>
<!-- /.section -->

<div class="section light_bg" style="padding-top:0; padding-bottom:0;">
  <div class="clear" style="text-align:center;"><img src="images/blue_arrow.png"></div>
  <div class="clear" style="height:30px;"></div>
  <div class="container">
  
       <div class="row">

        <div class="col-sm-8 nor_text head_cont">
          <h3>Háganos su Consulta!</h3>
          <p>Para Nosotros es muy importante conocer su opinión, sugerencias o brindarle la asesoría necesaria para iniciar su negocio o llevar su empresa a otro nivel.</p>
		<form role="form" method="POST" action="#">
	            <div class="row">
	              <div class="form-group col-lg-4">
	                <label for="input1">Nombre</label>
	                <input type="text" name="contact_name" class="form-control" id="input1">
	              </div>
	              <div class="form-group col-lg-4">
	                <label for="input2">Dirección Correo</label>
	                <input type="email" name="contact_email" class="form-control" id="input2">
	              </div>
	              <div class="form-group col-lg-4">
	                <label for="input3">Teléfono</label>
	                <input type="phone" name="contact_phone" class="form-control" id="input3">
	              </div>
	              <div class="clearfix"></div>
	              <div class="form-group col-lg-12">
	                <label for="input4">Mensaje</label>
	                <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
	              </div>
	              <div class="form-group col-lg-12">
	                <input type="hidden" name="save" value="contact">
	                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Enviar</button>
	              </div>
              </div>
            </form>
        </div>

        <div class="col-sm-4 head_cont">
          <h3>Mega Storage</h3>
          
          <h4>Tu Socio de Negocios</h4>
          <p>
            555 Long Street, Mega City
          </p>
          <p><i class="fa fa-phone"></i> <abbr title="Phone">Tel</abbr>: (555) 0000-1234</p>
          <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:feedback@startbootstrap.com">sugerencias@megastorage.com</a></p>
          
        </div>

      </div>
      <!-- /.row -->

     <!-- /.row -->
  </div>
  <!-- /.container --> 
  <div class="clear" style="height:30px;"></div>
</div>
<!-- /.section -->
