<!--Top banner start-->
<div class="section banner_bg" style="padding:0;"> 
  <!--<img class="img-responsive_new" src="images/banner-1.jpg" align="">--> 
  <!-- Carousel -->
  <div id="carousel-slide" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-slide" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-slide" data-slide-to="1"></li>
      <li data-target="#carousel-slide" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active"> <img src="images/banner-1.jpg" alt="First slide"> 
        <!-- Static Header -->
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center">
            <h2>Alojamiento Web</h2>
            <h3> planes que se adaptan <br>
              <span>a tu negocio</span></h3>
          </div>
        </div>
        <!-- /header-text --> 
        
      </div>
      <div class="item"> <img src="images/banner-2.jpg" alt="Second slide"> 
        <!-- Static Header -->
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center">
            <h2>Servidores Dedicados</h2>
            <h3> soporte 24/7 <br>
              <span>asistencia profesional</span></h3>
          </div>
        </div>
        <!-- /header-text --> 
      </div>
      <div class="item"> <img src="images/banner-3.jpg" alt="Third slide"> 
        
        <!-- Static Header -->
        <div class="header-text hidden-xs">
          <div class="col-md-12 text-center">
            <h2>Seguridad y Garantía</h2>
            <h3> respaldada por nuestra <br>
              <span>experiencia y trayectoria</span></h3>
          </div>
        </div>
        <!-- /header-text --> 
      </div>
    </div>
    
    <!-- Controls --> 
    <a class="left carousel-control" href="#carousel-slide" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-slide" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> </div>
  <!-- /carousel --> 
</div>
<!--Top banner end--> 

<div class="section light_bluebg" style="padding-top:0;">
  <div class="container">
    <div class="row get_text">
      <h2>Obtenga mes <strong>GRATIS</strong> de soporte en linea <strong>24/7</strong></h2>
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</div>
<!-- /.section -->

<div class="section light_bg" style="padding-top:0;">
  <div class="clear" style="text-align:center;"><img src="images/blue_arrow.png"></div>
  <div class="clear" style="height:30px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <section class="lazy-load-box effect-slidefromright" data-delay="80" data-speed="550" style="transition: all 550ms ease 0s; opacity: 1;">
          <div class="service-box ">
            <div class="extrabox">
              <figure class="icon"><i class="fa fa-cogs"></i><span>1</span></figure>
            </div>
            <div class="service-box_body">
              <h2 class="title"><a href="#" title="Competition Analysis" target="_self">Herramientas Automatizadas</a></h2>
              <div class="service-box_txt">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Integer sit amet erat non turpis interdum facilisis sit amet sit amet turpis sollicitudin.</div>
              <div class="btn-align"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Leer Más!</button></div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <section class="lazy-load-box effect-slidefromright" data-delay="160" data-speed="550" style="transition: all 550ms ease 0s; opacity: 1;">
          <div class="service-box ">
            <div class="extrabox">
              <figure class="icon"><i class="fa fa-book"></i><span>2</span></figure>
            </div>
            <div class="service-box_body">
              <h2 class="title"><a href="#" title="Business Plan" target="_self">Presupuesto a Medida</a></h2>
              <div class="service-box_txt">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Integer sit amet erat non turpis interdum facilisis sit amet sit amet turpis sollicitudin.</div>
              <div class="btn-align"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Leer Más!</button></div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <section class="lazy-load-box effect-slidefromright" data-delay="240" data-speed="550" style="transition: all 550ms ease 0s; opacity: 1;">
          <div class="service-box ">
            <div class="extrabox">
              <figure class="icon"><i class="fa fa-briefcase"></i><span>3</span></figure>
            </div>
            <div class="service-box_body">
              <h2 class="title"><a href="#" title="International Expansion Advice" target="_self">Servicio Profesional</a></h2>
              <div class="service-box_txt">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Integer sit amet erat non turpis interdum facilisis</div>
              <div class="btn-align"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Leer Más!</button></div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <section class="lazy-load-box effect-slidefromright" data-delay="320" data-speed="550" style="transition: all 550ms ease 0s; opacity: 1;">
          <div class="service-box ">
            <div class="extrabox">
              <figure class="icon"><i class="fa fa-check-square-o"></i><span>4</span></figure>
            </div>
            <div class="service-box_body">
              <h2 class="title"><a href="#" title="Branding &amp; Rebranding" target="_self">Productos de Calidad</a></h2>
              <div class="service-box_txt">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Integer sit amet erat non turpis interdum facilisis sit amet sit amet turpis sollicitudin.</div>
              <div class="btn-align"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Leer Más!</button></div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- /.container --> 
</div>
<!-- /.section -->

<div class="section globe-box" style="padding:0;">
  <div class="clear" style="text-align:center;"><img src="images/light_grey_arrow.png"></div>
  <div class="clear" style="height:30px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 slogan-box">
        <p>Ellos te ayudarán<br>
           a impulsar tu negocio! </p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
        <div class="thumb-pad1">
          <div class="thumbnail">
            <figure><img src="images/page1_pic7.jpg" alt=""></figure>
            <div class="caption">
              <p class="title">jason smith</p>
              <p>IT Support</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
        <div class="thumb-pad1">
          <div class="thumbnail">
            <figure><img src="images/page1_pic8.jpg" alt=""></figure>
            <div class="caption">
              <p class="title">lisa smith</p>
              <p>marketing specialist</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
        <div class="thumb-pad1">
          <div class="thumbnail">
            <figure><img src="images/page1_pic9.jpg" alt=""></figure>
            <div class="caption">
              <p class="title">john brown</p>
              <p>software architect</p>
              </div>
          </div>
        </div>
      </div>
      <div class="clear" style="height:20px;"></div>
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</div>
<!-- /.section -->