<div class="section light_bluebg" style="padding-top:0; padding-bottom:0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title_text">Planes <br><small>Opciones de Inversión</small> </h1>
      </div>
    </div>
  </div>
  <!-- /.container --> 
</div>
<!-- /.section -->
<div class="section light_bg" style="padding-top:0;">
<div class="clear" style="text-align:center;"><img src="images/blue_arrow.png"></div>
<div class="section" style="padding:0;">
  <div class="container">

    

    <div class="row">

        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Básico</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$9
                        <span class="price-cents">99</span>
                        <span class="price-month">mes</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">5 Sub-dominios</li>
                    <li class="list-group-item">5 GB Almacenamiento</li>
                    <li class="list-group-item">Hasta 50 Cuentas Correo</li>
                    <li class="list-group-item">10 GB Anchobanda</li>
                    <li class="list-group-item">Anti Spam</li>
                    <li class="list-group-item"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ordenar</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Plus</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$19
                        <span class="price-cents">99</span>
                        <span class="price-month">mes</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">10 Sub-dominios</li>
                    <li class="list-group-item">10 GB Almacenamiento</li>
                    <li class="list-group-item">Hasta 100 Cuentas Correo</li>
                    <li class="list-group-item">10 GB Anchobanda</li>
                    <li class="list-group-item">Anti Spam</li>
                    <li class="list-group-item"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ordenar</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Premium <span class="label label-success">Aproveche!</span></strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$29
                        <span class="price-cents">99</span>
                        <span class="price-month">mes</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">15 Sub-dominios </li>
                    <li class="list-group-item">20 GB Almacenamiento</li>
                    <li class="list-group-item">Hasta 150 Cuentas Correo</li>
                    <li class="list-group-item">10 GB Anchobanda</li>
                    <li class="list-group-item">Anti Spam</li>
                    <li class="list-group-item"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ordenar</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Ultimate</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$49
                        <span class="price-cents">99</span>
                        <span class="price-month">mes</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Ilimitado</li>
                    <li class="list-group-item">Almacenamiento Ilimitado</li>
                    <li class="list-group-item">Cuentas de Correo Ilimitadas</li>
                    <li class="list-group-item">Anchobanda Ilimitado</li>
                    <li class="list-group-item">Anti Spam</li>
                    <li class="list-group-item"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ordenar</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->


  <!-- /.container --> 
</div>
<!-- /.section -->
  <!-- /.container --> 
</div>
<!-- /.section -->