<div class="section light_bluebg" style="padding-top:0; padding-bottom:0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title_text">Servicios <br><small>Lo que Hacemos</small> </h1>
      </div>
    </div>
  </div>
  <!-- /.container --> 
</div>
<!-- /.section -->

<div class="section light_bg" style="padding-top:0; padding-bottom:0;">
  <div class="clear" style="text-align:center;"><img src="images/blue_arrow.png"></div>
  <div class="clear" style="height:30px;"></div>
  <div class="container">

         <!-- /.row -->
   <div class="row">

           

        </div>
        <!-- /.row -->
        <!-- Service Paragraphs -->

        <div class="row">

           <div class="col-md-4 text-center">
                <div class="icon">
               <i class="fa fa-cloud"></i></div>
                <h3>Nuestros Servidores</h3>
                <p>Tus webs estarán alojadas en un data center de máxima seguridad y rendimiento, que cuenta con todos los Certificados.</p>
            </div>

            <div class="col-md-4 text-center">
                <div class="icon">
               <i class="fa fa-rocket"></i></div>
                <h3>Automatización</h3>
                <p>Puedes iniciar tu sitio web con tan solo un click usando una de nuestras aplicaciones que harán todo el trabajo de forma automática.</p>
                
            </div>
             <div class="col-md-4 text-center">
                <div class="icon">
               <i class="fa fa-tablet"></i></div>
                
                <h3>Webmail</h3>
                <p>accesible desde todo tipo de dispositivos</p>
                
            </div>
        </div>
      <div class="row">

            <div class="col-md-4 text-center">
                <div class="icon">
               <i class="fa fa-fighter-jet"></i></div>
                <h3>Velocidad</h3>
                <p>Contamos con centros de datos en puntos estratégicos para una mejor más rápida respuesta por parte de nuestros servidores.</p>
            </div>

            
             <div class="col-md-4 text-center">
                <div class="icon">
               <i class="fa fa-database"></i></div>
                <h3>Respaldos</h3>
                <p>Guardamos tu información periódicamente para que puedas restablecer tus datos en caso de pérdida.</p>
            </div>
          <div class="col-md-4 text-center">
                <div class="icon">
               <i class="fa fa-coffee"></i></div>
                <h3>Algo Más</h3>
                <p>Contamos con Servidores espejo que brindan mayor rendimiento a la hora de acceder a tu información, en cualquier momento.</p>
                
            </div>
        </div>
        <!-- /.row -->
  </div>
  <!-- /.container --> 
  <div class="clear" style="height:30px;"></div>
</div>
<!-- /.section -->
