<div class="section testi_boxbg" style="padding-top:0;">
  <div class="container">
    <div class="row">
      <div class="clear" style="height:10px;"></div>
      <div class="col-lg-6 col-md-6 col-sm-12 border_right">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel"> 
          <!-- Bottom Carousel Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class=""></li>
            <li class="" data-target="#quote-carousel" data-slide-to="1"></li>
            
          </ol>
          
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner"> 
            
            
            <!-- Quote 2 -->
            <div class="item active left">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center"> <img class="img-circle" src="images/page1_pic8.jpg" style="width: 100px;height:100px;"> </div>
                  <div class="col-sm-9 testi_carousel">
                    <p>Siempre obtengo la ayuda necesaria a tiempo, lo cual brinda seguridad y confianza a mi Empresa. </p>
                    <small>Sarah Simpson</small> </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="item next left">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center"> <img class="img-circle" src="images/page1_pic9.jpg" style="width: 100px;height:100px;"> </div>
                  <div class="col-sm-9 testi_carousel">
                    <p>El servicio y atención que hemos recibido de parte del equipo de MegaStorage ha sido el mejor, desde el inicio fuimos asesorados para encontrar el paquete que necesitabamos!</p>
                    <small>John Doe</small> </div>
                </div>
              </blockquote>
            </div>
          </div>
          
          <!-- Carousel Buttons Next/Prev --> 
          <!--<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>--> 
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12"></div>
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="clear" style="height:15px;"></div>
        <div class="newsletter">
          <h2>Registro <span>Boletín</span> </h2>
          <div class="clear" style="height:5px;"></div>
          <p>Información y Promociones.</p>
          <form class="form-inline" role="form">
            <div class="form-group col-lg-9 col-md-9 col-sm-10" style="background:#F00; padding-right:0; padding-left:0;">
              <label class="sr-only" for="exampleInputEmail2">Dirección Correo</label>
              <input class="form-control input-lg-news" id="exampleInputEmail2" placeholder="Ingresa tu dirección de correo" type="email">
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-2" style="padding-left:10px">
              <button type="button" class="btn button_join btn-lg" data-toggle="modal" data-target="#myModal">Registrarme</button>
            </div>
          </form>
          <div class="clear" style="height:20px;"></div>
        </div>
      </div>
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</div>
<!-- /.section -->

<div class="section cont_bg_img" style="padding-top:0; padding-bottom:0;">
  <div class="cont_bg">
    <div class="clear" style="text-align:center;"><img src="images/black_arrow.png"></div>
    <div class="container">
      <div class="row">
        <div  class="col-lg-12 cont_title">
          <h2>Contáctanos</h2>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 cont_text"> MegaStorage, 555 Long Street, Mega City<br>
          <p><span>Teléfono:</span> 000 000 1234 <span>Fax:</span> 000 000 5678</p>
          Preguntas?<br>
          <span>Email:</span> info@megastorage.com </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="clear" style="height:20px;"></div>
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container --> 
  </div>
</div>
<!-- /.section -->

<div  class="footer_bar_bg">
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 navigation_text">megastorage.com &copy; 2016</div>
        <div class="col-lg-3 col-md-3 col-sm-4 social_foot"><a href="#" target="_blank"><img  class="img-responsive_new" src="images/linkedin_icon.png" /></a> <a href="#" target="_blank"><img  class="img-responsive_new" src="images/fb_icon.png" /></a> <a href="#" target="_blank"><img src="images/twt_icon.png" /></a> <a href="#" target="_blank"><img src="images/google_plus_icon.png" /></a> <a href="#" target="_blank"><img  class="img-responsive_new" src="images/youtube_icon.png" /></a></div>
      </div>
    </footer>
  </div>
  <!-- /.container --> 
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Le diste click al boton?</h4>
      </div>
      <div class="modal-body">
        <p>Éste botón no es funcional, solo es demostrativo.<br> Estaremos trabajando para que pronto haga algo más que abrir éste modal.<br>Lo siento!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>